.chooser {
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    gap: 4px;

    align-items: center;

    > span {
        grid-column: 1 / span 2;
        margin-right: 20px;
    }
}
