@layer base, common;

@import 'react-contexify/dist/ReactContexify.css';

@import './icons.css';
@import './additionalComponents/button.css';
@import './additionalComponents/input.css';

:root {
    /*
     * CSS Variables for color scheme: All the --scheme-{key} colors where key is
     * keyof ColorScheme, plus --scheme-interact-text, which automatically uses
     * black or white depending on what provides better contrast against a
     * --scheme-interact background.
     */
    --scheme-interact-hover: color-mix(
        in srgb,
        var(--scheme-interact) 80%,
        black
    );
}

@media not (prefers-reduced-motion) {
    html {
        scroll-behavior: smooth;
    }
}

/* Hack: When quickly hovering over radix tooltips
 * in the locations list, the tooltip may disappear.
 * This seems to prevent it from happening */
div[data-radix-popper-content-wrapper] {
    pointer-events: none;
}

@layer base {
    body {
        margin: 0;
        font-family:
            -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        color: var(--scheme-text);
        background-color: var(--scheme-background);

        line-height: 1.5;
        font-size: 16px;
    }

    @font-face {
        font-family: 'HyliaSerif';
        src: url('assets/HyliaSerifBeta-Regular.otf') format('opentype');
    }

    /* a bunch of styles carried over from bootstrap */
    *,
    ::after,
    ::before {
        box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }

    img {
        vertical-align: middle;
    }

    [role='button'] {
        cursor: pointer;
    }

    [type='button']:not(:disabled),
    [type='reset']:not(:disabled),
    [type='submit']:not(:disabled),
    button:not(:disabled) {
        cursor: pointer;
    }

    button,
    input,
    textarea {
        font-family: inherit;
        font-size: inherit;
    }

    textarea {
        font-size: calc(20px * 2 / 3);
    }

    legend {
        font-size: 1.5rem;
        margin-bottom: 12px;
    }

    code {
        font-family: monospace;
    }

    hr {
        opacity: 0.25;
        border: 0;
        margin: 1rem 0;
        border-top: 1px solid;
    }

    a {
        color: var(--scheme-interact);
        &:hover {
            color: var(--scheme-interact-hover);
        }
    }
}
