.permalinkInput {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.75em;
    width: 100%;
}

.optionsPage {
    width: 90%;
    margin: 0% 5%;
    margin-top: 5%;

    > * input {
        width: 100%;
    }
}

.logicChooser {
    width: 30%;
}

.permalinkChooser {
    width: 70%;
}

.launchButtons {
    width: 100%;
    margin: 2% 0%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 4px;

    > .randomizeButton {
        margin-left: auto;
    }
}

.optionsCategory {
    border: thick solid;
    padding: 0% 1% 1% 1%;
    background: rgba(40, 40, 20, 0.1);
    text-align: left;
}

.optionsTab {
    margin-top: 20px;
}

.disabledLink {
    pointer-events: none;
}

.optionsBadRemote {
    border: 1px solid red;
}
