.permalinkInput {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.75em;
    width: 100%;
}

.optionsPage {
    width: 90%;
    margin: 0% 5%;
    margin-top: 5%;

    > * input {
        width: 100%;
    }
}

.logicAndPermalink {
    display: grid;
    grid-template-areas: "logic permalink";
    grid-template-columns: 30% 70%;

    @media (max-width: 1000px) {
        grid-template-areas:
            "logic"
            "permalink";
        grid-template-columns: 100%;
    }
}

.logicChooser {
    grid-area: logic;
}

.permalinkChooser {
    grid-area: permalink;
}

.launchButtons {
    width: 100%;
    margin: 2% 0%;
    display: flex;
    flex-flow: row wrap;
    column-gap: 4px;

    > .randomizeButton {
        margin-left: auto;
    }
}

.optionsCategory {
    border: thick solid;
    padding: 0% 1% 1% 1%;
    background: rgba(40, 40, 20, 0.1);
    text-align: left;
    width: 100%;
}

.optionsTab {
    margin-top: 20px;
}

.disabledLink {
    pointer-events: none;
}

.optionsBadRemote {
    border: 1px solid red;
}
